.floor {
  width: 48rem;
  height: 48rem;
  border-radius: 50%;
  color: #3b3b3b;
  line-height: 48rem;
  text-align: center;
  border: 1rem solid #3b3b3b;
}
.room {
  width: 384rem;
  height: 210rem;
  border: 1rem solid #fff;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0 24rem;
  align-items: center;
  justify-content: space-between;
}
.room_infor {
  color: white;
  flex-direction: column;
  align-items: flex-end;
}
.img_room {
  width: 162rem;
  height: 162rem;
}
.bd_radius_8 {
  border-radius: 8rem;
}
.bd_t_bt {
  border-top: 1rem solid #3b3b3b;
  border-bottom: 1rem solid #3b3b3b;
}
.bd_r {
  border-right: 1rem solid #3b3b3b;
}
.ft_icon {
  width: 18rem;
  height: 18rem;
}
.flex {
  display: flex;
}
.hidden {
  display: none;
}
.left_right {
  width: 12rem;
  height: 36rem;
}
.up_down {
  width: 36rem;
  height: 12rem;
  display: block;
  margin: 0 auto;
}

.mt_48 {
  margin-top: 48rem;
}
.mt_36 {
  margin-top: 36rem;
}
.mt_24 {
  margin-top: 24rem;
}
.mt_18 {
  margin-top: 18rem;
}
.mt_12 {
  margin-top: 12rem;
}
.mr_36 {
  margin-right: 36rem;
}
.mr_24 {
  margin-right: 24rem;
}
.mr_12 {
  margin-right: 12rem;
}
.pr_36 {
  padding-right: 36rem;
}
.pt_pbt_9 {
  padding-top: 9rem;
  padding-bottom: 9rem;
}
.fs_24 {
  font-size: 24rem;
}
.fs_16 {
  font-size: 16rem;
}

@media (max-width: 768px) {
  .mt_tl_36 {
    margin-top: 36rem;
  }
}
@media (max-width: 480px) {
  .mt_mb_24 {
    margin-top: 24rem;
  }
  .mt_mb_18 {
    margin-top: 18rem;
  }
  .mt_mb_12 {
    margin-top: 12rem;
  }
  .mr_mb_36 {
    margin-right: 36rem;
  }
  .mr_mb_24 {
    margin-right: 24rem;
  }
  .mr_mb_18 {
    margin-right: 18rem;
  }
  .mr_mb_12 {
    margin-right: 12rem;
  }
  .pr_mb_24 {
    padding-right: 24rem;
  }
  .fs_mb_12 {
    font-size: 12rem;
  }
  .floor {
    width: 36rem;
    height: 36rem;
    line-height: 36rem;
  }
  .hidden {
    display: block;
  }
  .hidden_mb {
    display: none;
  }
  .pt_pbt_mb_5 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
