@media only screen and (max-aspect-ratio: 1920/1050) and (min-width: 768px) {
  html {
    font-size: 0.0520833333333333vw;
  }
  .container {
    width: 100vw;
    height: unset;
  }
}
@media only screen and (min-aspect-ratio: 1920/1050) and (min-width: 768px) {
  html {
    font-size: 0.0952380952380952vh;
  }
  .container {
    height: 100vh;
    width: unset;
  }
}
@media only screen and (max-aspect-ratio: 3/4) and (max-width: 768px) {
  html {
    font-size: 0.1302083333333333vw;
  }
  .container {
    width: 100vw;
    height: unset;
  }
}
@media only screen and (min-aspect-ratio: 3/4) and (max-width: 768px) {
  html {
    font-size: 0.09765625vh;
  }
  .container {
    height: 100vh;
    width: unset;
  }
}
@media only screen and (max-aspect-ratio: 9/20) and (max-width: 480px) {
  html {
    font-size: 0.2083333333333333vw;
  }
  .container {
    width: 100vw;
    height: unset;
  }
}
@media only screen and (min-aspect-ratio: 9/20) and (max-width: 480px) {
  html {
    font-size: 0.0937499999970703vh;
  }
  .container {
    height: 100vh;
    width: unset;
  }
}
.fw_b {
  font-weight: bold;
}
.cl_3b {
  color: #3b3b3b;
}
.cl_w {
  color: white;
}
.bg_bl {
  background-color: black;
}
.bg_bl_20 {
  background-color: rgba(0, 0, 0, 0.2);
}
.bg_w_20 {
  background-color: rgba(255, 255, 255, 0.2);
}
.bg_bl_10 {
  background-color: rgba(0, 0, 0, 0.1);
}
.radius_round {
  border-radius: 50%;
}
.txt_underline {
  text-decoration: underline;
}
.bd_t_b_bl {
  border-top: 1rem solid #3b3b3b;
  border-bottom: 1rem solid #3b3b3b;
}
.bd_r_bl {
  border-right: 1rem solid #3b3b3b;
}
.bd_w {
  border: 1rem solid #ffffff;
}
.bd_bl {
  border: 1rem solid #3b3b3b;
}
.radius_8 {
  border-radius: 8rem;
}
.fz_36 {
  font-size: 36rem;
}
.fz_24 {
  font-size: 24rem;
}
.fz_16 {
  font-size: 16rem;
}
.mt_276 {
  margin-top: 276rem;
}
.mt_72 {
  margin-top: 72rem;
}
.mt_60 {
  margin-top: 60rem;
}
.mt_48 {
  margin-top: 48rem;
}
.mt_36 {
  margin-top: 36rem;
}
.mt_24 {
  margin-top: 24rem;
}
.mt_18 {
  margin-top: 18rem;
}
.mt_12 {
  margin-top: 12rem;
}
.pt_12 {
  padding-top: 12rem;
}
.pt_18 {
  padding-top: 18rem;
}
.pt_pb_9 {
  padding-top: 9rem;
  padding-bottom: 9rem;
}
.mr_240 {
  margin-right: 240rem;
}
.mr_48 {
  margin-right: 48rem;
}
.mr_24 {
  margin-right: 24rem;
}
.mr_12 {
  margin-right: 12rem;
}
.mr_36 {
  margin-right: 36rem;
}
.pr_36 {
  padding-right: 36rem;
}
.pr_24 {
  padding-right: 24rem;
}
.pr_48 {
  padding-right: 48rem;
}
.pr_12 {
  padding-right: 12rem;
}
.mb_18 {
  margin-bottom: 18rem;
}
.pb_18 {
  padding-bottom: 18rem;
}
.pb_12 {
  padding-bottom: 12rem;
}

.ml_48 {
  margin-left: 48rem;
}
.pl_48 {
  padding-left: 48rem;
}
.pl_36 {
  padding-left: 36rem;
}
.pl_24 {
  padding-left: 24rem;
}
.pl_12 {
  padding-left: 12rem;
}
@media only screen and (max-width: 768px) {
  .fz_tl_36 {
    font-size: 36rem;
  }
  .fz_tl_24 {
    font-size: 24rem;
  }
  .fz_tl_16 {
    font-size: 16rem;
  }
  .mt_tl_48 {
    margin-top: 48rem;
  }
  .mt_tl_36 {
    margin-top: 36rem;
  }
  .mt_tl_24 {
    margin-top: 24rem;
  }
  .mt_tl_18 {
    margin-top: 18rem;
  }
  .pt_tl_12 {
    padding-top: 12rem;
  }
  .pt_tl_18 {
    padding-top: 18rem;
  }
  .mr_tl_48 {
    margin-right: 48rem;
  }
  .mr_tl_24 {
    margin-right: 24rem;
  }
  .mr_tl_12 {
    margin-right: 12rem;
  }
  .pr_tl_36 {
    padding-right: 36rem;
  }
  .pr_tl_24 {
    padding-right: 24rem;
  }
  .pr_tl_12 {
    padding-right: 12rem;
  }
  .pb_tl_18 {
    padding-bottom: 18rem;
  }
  .pb_tl_12 {
    padding-bottom: 12rem;
  }
  .ml_tl_48 {
    margin-left: 48rem;
  }
  .pl_tl_36 {
    padding-left: 36rem;
  }
  .pl_tl_24 {
    padding-left: 24rem;
  }
  .pl_tl_12 {
    padding-left: 12rem;
  }
}
@media only screen and (max-width: 480px) {
  .fz_mb_24 {
    font-size: 24rem;
  }
  .fz_mb_12 {
    font-size: 12rem;
  }
  .mt_mb_48 {
    margin-top: 48rem;
  }
  .mt_mb_36 {
    margin-top: 36rem;
  }
  .mt_mb_24 {
    margin-top: 24rem;
  }
  .mt_mb_18 {
    margin-top: 18rem;
  }
  .mt_mb_12 {
    margin-top: 12rem;
  }
  .pt_mb_12 {
    padding-top: 2.5vw;
  }
  .pt_pb_mb_5 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .mr_mb_18 {
    margin-right: 18rem;
  }
  .mr_mb_24 {
    margin-right: 24rem;
  }
  .mr_mb_12 {
    margin-right: 12rem;
  }
  .mr_mb_36 {
    margin-right: 36rem;
  }
  .pr_mb_24 {
    padding-right: 24rem;
  }
  .pr_mb_18 {
    padding-right: 18rem;
  }
  .pb_mb_12 {
    padding-bottom: 12rem;
  }
  .ml_mb_12 {
    margin-left: 12rem;
  }
  .pl_mb_36 {
    padding-left: 36rem;
  }
  .pl_mb_24 {
    padding-left: 24rem;
  }
  .pl_mb_18 {
    padding-left: 18rem;
  }
  .hiden_mb {
    display: none;
  }
}
