@media only screen and (max-aspect-ratio: 1940/1050) and (min-width: 768px) {
  html {
    font-size: 0.0515463917525773vw;
  }
  .container {
    width: 100vw;
    height: unset;
  }
}
@media only screen and (min-aspect-ratio: 1940/1050) and (min-width: 768px) {
  html {
    font-size: 0.0952380952380952vh;
  }
  .container {
    width: unset;
    height: 100vh;
  }
}
@media only screen and (max-aspect-ratio: 3/4) and (max-width: 768px) {
  html {
    font-size: 0.1302083333333333vw;
  }
  .container {
    width: 100vw;
    height: unset;
  }
}
@media only screen and (min-aspect-ratio: 3/4) and (max-width: 768px) {
  html {
    font-size: 0.09765625vh;
  }
  .container {
    width: unset;
    height: 100vh;
  }
}
@media only screen and (max-aspect-ratio: 9/20) and (max-width: 480px) {
  html {
    font-size: 0.2083333333333333vw;
  }
  .container {
    width: 100vw;
    height: unset;
  }
}
@media only screen and (min-aspect-ratio: 9/20) and (max-width: 480px) {
  html {
    font-size: 0.0937499999970703vh;
  }
  .container {
    width: unset;
    height: 100vh;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
  line-height: 1.125;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.container {
  display: grid;
  grid-template-columns: 670fr 1270fr;
  aspect-ratio: 1940 / 1050;
  background-color: white;
}
.container_left {
  padding: 60rem 48rem 0;
}
.container_right {
  background-image: url("../ảnh/Rectangle.png");
  overflow: hidden;
  background-size: cover;
}
.select_tower {
  padding: 12rem 0;
  align-items: center;
}
.big_tower {
  align-items: center;
}

.footer {
  align-items: center;
  justify-content: space-between;
}
.container_right > img {
  width: 96rem;
  height: 96rem;
}
.container_right > div:first-child {
  width: 1270rem;
}
.rooms {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  height: 258rem;
  width: 1656rem;
  padding-left: 24rem;
}
h1 {
  font-size: 36rem;
}
.select_tower > img {
  width: 36rem;
  height: 36rem;
}
.big_tower > img {
  width: 334rem;
  height: 588rem;
  box-shadow: 5rem 5rem 5rem rgba(0, 0, 0, 0.2);
  margin-right: 48rem;
}
.footer > img {
  width: 168rem;
  height: 48rem;
}
.contact,
.contact_item {
  align-items: center;
}
.arrow_left {
  margin-top: 276rem;
  margin-right: 250rem;
  width: 36rem;
  height: 144rem;
}
.map_floor {
  width: 698rem;
  height: 624rem;
  margin-top: 72rem;
}
.room:first-child {
  background-color: rgba(255, 255, 255, 0.2);
}
.select_floor {
  padding: 18rem 0;
  position: relative;
  flex-wrap: wrap;
  gap: 24rem;
}
.room > img {
  width: 162rem;
  height: 162rem;
}
.floor:first-child {
  background-color: black;
  color: white;
}
.select_floor > p {
  position: absolute;
  padding: 0 12rem;
  background-color: white;
  white-space: nowrap;
  left: 50%;
  top: -11rem;
  transform: translateX(-50%);
  color: #3b3b3b;
}
