* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Arial;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.fz_16 {
  font-size: 0.86vw;
  line-height: 1.33vw;
}
.fz_18 {
  font-size: 0.94vw;
}
.fz_14 {
  font-size: 0.73vw;
}
.fz_24 {
  font-size: 1.25vw;
}
.fz_33 {
  font-size: 1.72vw;
}
.container {
  width: 100vw;
  margin: auto;
  aspect-ratio: 1920/1050;
  background-color: white;
  display: grid;
  grid-template-columns: 4fr 2.25fr 11.75fr;
  grid-template-rows: 2fr 1fr 6fr 0.88fr;
}
.project_flex_home {
  grid-column: 1/3;
  padding-left: 2.2vw;
}
.project_flex_home h1 {
  padding-top: 3.33vw;
}

.project_info {
  padding-top: 2.44vw;
}
.project_info p:last-child {
  padding-top: 1.33vw;
}
.select_tower {
  grid-column: 1/3;
  margin: 1.9vw 2.18vw 0.2vw;
  padding: 0.8vw 0;
  display: flex;
  align-items: center;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.select_tower p:nth-child(3),
.select_tower p:nth-child(2) {
  padding-right: 1.6vw;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
}
.select_tower p:nth-child(3),
.select_tower p:nth-child(4) {
  padding-left: 1.6vw;
}
.underline {
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
}
.icon_tower {
  width: 1.56vw;
  height: 1.56vw;
  margin-right: 0.625vw;
}
.structure {
  grid-column-start: 3;
  grid-row: 1/6;
  background-image: url("../áº£nh/Rectangle.png");
  background-size: cover;
  overflow: hidden;
}
.img_structure {
  width: 36.46vw;
  margin-left: 15vw;
  margin-top: 5vw;
}
.compass,
.compass img {
  width: 4.58vw;
  height: 4.58vw;
  margin: 0.2vw 0 0.3vw 0.3vw;
}
.content_structure {
  display: flex;
  align-items: center;
  padding-left: 1.3vw;
  height: 12.5vw;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
}
.content_info {
  display: flex;
  height: 10.5vw;
  width: 19vw;
  align-items: center;
  justify-content: space-between;
  border: 1px solid white;
  border-radius: 8px;
  padding: 0.5vw;
  margin-right: 1.35vw;
}
.info {
  color: white;
  height: 8.3vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.info p {
  color: rgba(255, 255, 255, 0.9);
  font-weight: 100;
}
.img_content,
.img_content img {
  width: 8.6vw;
  height: 8.6vw;
  margin-left: 0.2vw;
}
.img_tower {
  grid-column-start: 1;
  margin: auto 0 auto 2.18vw;
}
.img_tower img {
  width: 19.4vw;
  border-radius: 8px;
  filter: brightness(90%);
  box-shadow: 7px 6px 8px rgb(173, 173, 173);
}
.select_floor {
  grid-column-start: 2;
  display: flex;
  align-items: center;
}
.select_floor_child {
  width: 9.33vw;
  height: 29.06vw;
  margin: auto;
  padding: 0.42vw 0 0.21vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.select_number {
  position: relative;
  margin: 1.67vw 0;
  padding: 1.67vw 0;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  display: grid;
  grid-template-columns: repeat(3, 2.083vw);
  grid-column-gap: 16.2%;
  grid-row-gap: 0.9vw;
  width: 100%;
  height: 100%;
}
.select {
  position: absolute;
  font-weight: 700;
  padding: 0 0.7vw;
  background-color: white;
  width: 5.3vw;
  left: 50%;
  top: 0;
  transform: translate(-50%, -60%);
}
.select_floor_child img {
  width: 1.155vw;
  height: 0.5vw;
}
.select_number div {
  height: 2.083vw;
  line-height: 2.083vw;
  text-align: center;
  border-radius: 50%;
  border: 1px solid black;
}
.footer {
  grid-row-start: -2;
  grid-column: 1/3;
  margin-left: 2.18vw;
  display: flex;
  padding-right: 1.7vw;
  align-items: center;
  justify-content: space-between;
}
.footer img {
  width: 7.4vw;
}
.hiden_lap {
  display: none;
}
.link_footer {
  width: 17.68vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
img.icon_link {
  width: 0.84vw;
  height: 0.84vw;
}
img.icon_link_first {
  height: 0.92vw;
  width: 0.9vw;
}
.link_footer a {
  display: flex;
  align-items: center;
  color: #000;
}
.icon_link,
.icon_link_first {
  margin-right: 0.26vw;
}
.bg_bl {
  color: white;
  background-color: #000;
}
