* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.125;
  font-family: Arial;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.container {
  display: grid;
  grid-template-columns: 670fr 1250fr;
  background-color: white;
  aspect-ratio: 1920/1050;
}
.select_tower,
.tower,
.select_floor,
.footer,
.contact,
.link,
.departments,
.department {
  display: flex;
  align-items: center;
}
.icon_tower {
  width: 36rem;
  height: 36rem;
}
.img_tower {
  width: 334rem;
  height: 588rem;
  box-shadow: 5rem 5rem 5rem rgba(0, 0, 0, 0.2);
}
.select_floor {
  flex-direction: column;
}
.up,
.down {
  width: 36rem;
  height: 12rem;
}
.left,
.right {
  height: 36rem;
  width: 12rem;
}
.floors {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 24rem;
}
.floor {
  width: 48rem;
  height: 48rem;
  line-height: 48rem;
  text-align: center;
}
.select {
  position: absolute;
  font-weight: 700;
  background-color: white;
  white-space: nowrap;
  left: 50%;
  top: 0;
  transform: translate(-50%, -60%);
}
.footer,
.department {
  justify-content: space-between;
}
.img_footer {
  width: 168rem;
  height: 48rem;
}
.link img {
  width: 18rem;
  height: 18rem;
}
.structure_content {
  background-image: url("../ảnh/Rectangle.png");
  background-size: cover;
  overflow: hidden;
}
.structure_floor {
  display: flex;
}
.next_floor {
  width: 36rem;
  height: 144rem;
}
.img_structure {
  width: 698rem;
  height: 624rem;
}
.compass {
  width: 96rem;
  height: 96rem;
}
.departments {
  width: 1800rem;
  height: 258rem;
}
.department {
  width: 384rem;
  height: 210rem;
}
.department img {
  width: 162rem;
  height: 162rem;
}
.department_info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: white;
}
.hidden_lt {
  display: none;
}
