@media only screen and (max-width: 480px) {
  .container {
    grid-template-columns: 384fr 96fr;
    aspect-ratio: 9/20;
  }
  .tower {
    flex-direction: column;
  }
  .footer {
    flex-direction: column;
    justify-content: flex-start;
  }
  .icon_tower {
    width: 24rem;
    height: 24rem;
  }
  .img_tower {
    width: 348rem;
    height: 612rem;
    margin: 0;
  }
  .select_floor {
    flex-direction: row;
  }
  .floors {
    margin: 0;
    width: 300rem;
    justify-content: space-between;
  }
  .floor {
    width: 36rem;
    height: 36rem;
    line-height: 36rem;
  }
  .departments {
    height: 274.66rem;
  }
  .hidden_lt {
    display: block;
  }
}
