@media only screen and (min-aspect-ratio: 3/4) and (max-width: 768px) {
  .container {
    height: 100vh;
    width: unset;
  }
  .fz_33 {
    font-size: 3.1vh;
  }
  .fz_16 {
    font-size: 1.5vh;
    line-height: 1.6725vh;
  }
  .fz_18 {
    font-size: 1.6875vh;
  }
  .fz_14 {
    font-size: 1.3125vh;
  }
  .fz_24 {
    font-size: 2.25vh;
  }
  .project_flex_home {
    padding-left: 3.1875vh;
  }
  .project_flex_home h1 {
    padding-top: 6.3825vh;
  }
  .project_info {
    padding-top: 3.8325vh;
  }
  .project_info p:last-child {
    padding-top: 2.235vh;
  }
  .select_tower {
    margin: 1.53vh 3.1875vh 0.765vh;
    padding: 1.125vh 0;
  }
  .select_tower p:nth-child(3),
  .select_tower p:nth-child(2) {
    padding-right: 2.295vh;
  }
  .select_tower p:nth-child(3),
  .select_tower p:nth-child(4) {
    padding-left: 2.295vh;
  }
  .underline {
    text-decoration-thickness: 0.09375vh;
  }
  .icon_tower {
    width: 2.8125vh;
    height: 2.8125vh;
    margin-right: 1.53vh;
  }
  .img_structure {
    width: 65.625vh;
    margin-left: 4.59vh;
    margin-top: 6.12vh;
  }
  .compass,
  .compass img {
    width: 8.25vh;
    height: 8.25vh;
    margin: 0;
  }
  .compass {
    margin: 4.875vh 0.375vh 0.375vh;
  }
  .content_structure {
    padding-left: 1.5vh;
    height: 22.5vh;
    width: 75vh;
  }
  .content_info {
    height: 19.215vh;
    width: 34.125vh;
    border-radius: 0.75vh;
    padding: 1.5vh;
    margin-right: 1.5vh;
  }
  .info {
    height: 15.5625vh;
  }
  .img_content,
  .img_content img {
    width: 15.5625vh;
    height: 15.5625vh;
    margin-left: 0.15vh;
  }
  .img_tower {
    margin: auto 0 auto 3.1875vh;
  }
  .img_tower img {
    width: 34.92vh;
    border-radius: 0.75vh;
  }
  .select_floor_child {
    width: 16.7775vh;
    height: 52.3125vh;
    padding: 0.75vh 0 0.375vh;
  }
  .select_number {
    margin: 3vh 0;
    padding: 3vh 0;
    grid-template-columns: repeat(3, 3.75vh);
    grid-row-gap: 1.62vh;
  }
  .select {
    padding: 0 1.26vh;
    width: 9.54vh;
  }
  .select_floor_child img {
    width: 2.079vh;
    height: 0.9vh;
  }
  .select_number div {
    height: 3.75vh;
    line-height: 3.75vh;
  }
  .footer {
    margin-left: 3.1875vh;
    padding-right: 3.06vh;
  }
  .footer img {
    width: 13.32vh;
  }
  .link_footer {
    width: 31.824vh;
  }
  img.icon_link {
    width: 1.512vh;
    height: 1.512vh;
  }
  img.icon_link_first {
    height: 1.656vh;
    width: 1.62vh;
  }
  .icon_link,
  .icon_link_first {
    margin-right: 0.468vh;
  }
}
@media only screen and (max-aspect-ratio: 3/4) and (max-width: 768px) {
  .container {
    width: 100vw;
    height: unset;
  }
  .fz_33 {
    font-size: 4.125vw;
  }
  .fz_16 {
    font-size: 2vw;
    line-height: 2.23vw;
  }
  .fz_18 {
    font-size: 2.25vw;
  }
  .fz_14 {
    font-size: 1.75vw;
  }
  .fz_24 {
    font-size: 3vw;
  }
  .project_flex_home {
    padding-left: 4.25vw;
  }
  .project_flex_home h1 {
    padding-top: 8.51vw;
  }
  .project_info {
    padding-top: 5.11vw;
  }
  .project_info p:last-child {
    padding-top: 2.98vw;
  }
  .select_tower {
    margin: 2.04vw 4.25vw 1.02vw;
    padding: 1.5vw 0;
  }
  .select_tower p:nth-child(3),
  .select_tower p:nth-child(2) {
    padding-right: 3.06vw;
  }
  .select_tower p:nth-child(3),
  .select_tower p:nth-child(4) {
    padding-left: 3.06vw;
  }
  .underline {
    text-decoration-thickness: 0.125vw;
  }
  .icon_tower {
    width: 3.75vw;
    height: 3.75vw;
    margin-right: 2.04vw;
  }
  .img_structure {
    width: 87.5vw;
    margin-left: 6.12vw;
    margin-top: 8.16vw;
  }
  .compass,
  .compass img {
    width: 11vw;
    height: 11vw;
    margin: 0;
  }
  .compass {
    margin: 6.5vw 0.5vw 0.5vw;
  }
  .content_structure {
    padding-left: 2vw;
    height: 30vw;
    width: 100vw;
  }
  .content_info {
    height: 25.62vw;
    width: 45.5vw;
    border-radius: 1vw;
    padding: 2vw;
    margin-right: 2vw;
  }
  .info {
    height: 20.75vw;
  }
  .img_content,
  .img_content img {
    width: 20.75vw;
    height: 20.75vw;
    margin-left: 0.2vw;
  }
  .img_tower {
    margin: auto 0 auto 4.25vw;
  }
  .img_tower img {
    width: 46.56vw;
    border-radius: 1vw;
  }
  .select_floor_child {
    width: 22.37vw;
    height: 69.75vw;
    padding: 1vw 0 0.5vw;
  }
  .select_number {
    margin: 4vw 0;
    padding: 4vw 0;
    grid-template-columns: repeat(3, 5vw);
    grid-row-gap: 2.16vw;
  }
  .select {
    padding: 0 1.68vw;
    width: 12.72vw;
  }
  .select_floor_child img {
    width: 2.772vw;
    height: 1.2vw;
  }
  .select_number div {
    height: 5vw;
    line-height: 5vw;
  }
  .footer {
    margin-left: 4.25vw;
    padding-right: 4.08vw;
  }
  .footer img {
    width: 17.76vw;
  }
  .link_footer {
    width: 42.432vw;
  }
  img.icon_link {
    width: 2.016vw;
    height: 2.016vw;
  }
  img.icon_link_first {
    height: 2.208vw;
    width: 2.16vw;
  }
  .icon_link,
  .icon_link_first {
    margin-right: 0.624vw;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    aspect-ratio: 3/4;
    grid-template-columns: 9.4fr 5.6fr 3fr;
    grid-template-rows: 3fr 1fr 8fr 1fr;
  }
}
